<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      <div class="news">
        <h3>News</h3>
        {% if site.news  %}
          <div class="table-responsive">
            <table class="table table-sm table-borderless">
            {% assign news = site.news | reverse %}
            {% for item in news limit: 100 %}
              <tr>
                <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                <td>
                  {% if item.inline %}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  {% else %}
                    <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        {% else %}
          <p>No news so far...</p>
        {% endif %}
      </div>
    </div>

    <!-- Footer -->

    {% include footer.html %}

  </body>


  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
